  <a href="/restaurant/{{id}}"><div class="card">
    <h3>{{name}} Overall Rating: {{stars}}</h3>
    <p> {{location.street_address}}</p>
    <p> {{location.city}}, {{location.state}}, {{location.zipcode}}</p>
  </div></a>