<section class="restaurant">
  <img src="/images/{{tbd}}" alt="{{tbd}}" />
  <div class="card">
    <h3>{{restaurant.name}} Overall Rating: {{restaurant.stars}}</h3>
    <p> {{restaurant.location.street_address}}</p>
    <p> {{restaurant.location.city}}, {{restaurant.location.state}}, {{restaurant.location.zipcode}}</p>
  </div>
  {{#each dishes as |dish|}}
{{> restaurant-details}}
{{/each}}
    </section>