<section class="dish card">
      <header>{{dish.name}} Rated: {{dish.stars}}/5</header>
    <img src="/img/{{dish.image_file}}" alt="{{dish.description}}" />
    <p>Description: {{dish.description}}</p>
</section>
    {{#each dish.dish_reviews as  |review|}}
    {{> review-details}}
    {{/each}}
  <button class="btn btn-primary" type="">Add Review!</button>
    